/*Стиль базовых html5 блоков*/


button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}

.wrapper {
	max-width: 960px;
	margin: auto;
}




aside {
	float: left;
	width: 250px;
	background: url(../images/bg1.png)
}

/* стиль основного текста (контента) */

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

section > h2 {
	color: #000000;
}

section > p {
	color: #202020;
}



/*Стиль полей ввода*/
.input {
	float: right;
}

/*Стиль навигационных ссылок меню*/
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

h1 {
	color: #000000;
	font: 48px/48px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	text-align: center;
}

/*заголовка страницы*/
.heading {
	background: url(../images/noise-bg.png);
    opacity: 0.5;
	margin: 30px 0;
	padding-left: 20px;
}

.heading > h1 {
	background:rgba(72, 190, 226, 0.5);
}

/*Стиль меню сверху(основная навигация)*/
.top-menu {
	text-align: right;
}
.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	background:rgba(0,0,0,0.1);
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #424242;
}

/*Стиль подменю*/
.aside-menu li {
	font-weight: 500;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}

aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}



.mainBody {
  width: 100%;
  max-width: 80%; /*максимальная ширина может иметь другое значение*/
  margin: 0 auto;
}


.leftThing {
  float: left;
  width: 100%;
  /*min-height:100px;*/
  max-width:20%;
  /*border:2px solid black; */

}

.rightThing {
	display: flex;
	float: right;
	width: 100%;

	max-width:23%;  
}

.navigation {
  /*min-height:100px;*/
  width: 100%;
  /*border:2px solid black; */
  background-color: #aaa;
}



.news {
	margin-left:20%;
	margin-right:20%;
	background-color:#ddd; 
}



.social {
	float: left;
	margin-left: 20px;
	width: 150px;
}

.social-icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

.twitter {
	background: url(../images/twitter.png);
}

.google {
	background: url(../images/google.png);
}

.vk {
	background: url(../images/vk.png);
}
.fox {
	width: 100px;
	height: 100px;
	background: url(../images/fox.jpg);
}

footer {
	
	/*position:relative;*/
	color: #bbb;
	font-size: 11px;
	height:200px;
	background-color:#555;
	width:100%;

    /*padding: bottom;*/	

}

main {
	background:#f3f3f3;
	min-height:1000px;
}

body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f3f3f3;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

.post-button {
  /*border:2px solid black; */
  height:50px;
  width:100%;
  color:black;
  background-color: #00EFFF;
}
.post-button:hover {
	background-color: #00a3ad
}
.post-button:active {
  background-color: #00656b;
  transform: scale(0.9);
}

li{
	line-height:30px;
	font-size:16px;
}


header {
	padding: 20px 0;
	width:1000px;
	height:100px;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

.headerCenter{
    width: 100%;
	background:url(../images/RSUS.gif);
	-webkit-background-size:100px;
	background-size:100px;
	height:90px;
}

.searchBox{
	float:right;
	width:200px;
}

.topTable{
	min-width:100%;
	position:absolute;
}

.sus {
	background:url(../images/RSUS.gif);
}

.center {
  text-align: center;
  font-size:48px;
  color:black;
}

div p {
	color: #5B5C5B;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}


.container {
	max-width: 600px;
	margin: 0 auto;
	background-color: #DAE9F2;
}

  
.tweet {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;

}  

.tweet-content {
	flex: 1;
}
 
.tweet-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
  }

.tweet-author {
	margin-right: 5px;
}

.tweet-username {
	color: #555;
	margin-right: 5px;
  }

.tweet-date {
	color: #999;
}

.tweet-text {
	margin-bottom: 20px;
}

.tweet-actions {
	display: flex;
}

.action-reply,
.action-retweet,
.action-like {
  margin-right: 10px;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.friends{
	display: flex;
	flex-wrap: wrap;
}

.friend{
	display: flex;
	flex: 1;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;

}

.friend-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.friend-name{
	font-weight: bold;
	margin-bottom: 5px;
}

.friend-username{
	color: #555;
	margin-bottom: 10px;
}

.follow-button{
	background-color: #1da1f2;
	color: #fff;
	padding: 5px 10px;
	border-radius: 20px;
	text-align: center;
	margin-left: auto;
	align-self: flex-end;
}