extends layout

block content
    <!DOCTYPE html>
    <head>
        <html lang="ru">
        <title>Laba1)</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="icon" href="/images/RSUS.gif" type="image/x-icon">
        <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
            <table class="chat-header">
                <tbody style="min-width:100%;">
                    <tr>
                        <td><a href="index.html"><img src="images/Chel.png" height="50" width="100" alt="RedCHel"></a></td>	
                        <td style="width:100%;"></td>					
                        <td><button class="loginButton">Войти</button></td>
                        <td><button class="registerButton">Зарегистрироваться</button></td>
                    </tr>
                </tbody>
            </table>
        </header>
    </body>

    <h1>#{testText}</h1>
    <h1>12312312</h1>